body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flexCollumn {
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

#banner {
    background-image: url("../images/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1,
h2 {
    color: #fff;
    font-size: 60px;
    text-shadow: 0px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}

.banner_headline h2 {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 300;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    font-size: 15px;
}

.hours_desc {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral aside {
    flex: 1;
}

#geral section {
    flex: 2;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    margin-right: 2px;
}

article .news_commentes {
    background-color: #39aae1;
    padding: 10px;
    font-size: 12px;
    color: #fff;
}

article .news_thumbnail {
    margin-top: 20px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;

}

article .news_title {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 23px;
    color: #000;
}

article .news_resume {
    color: #555;
    font-size: 14px;
    line-height: 20px;
}

article a {
    text-decoration: none;
}

footer {
    display: flex;
    background-color: #1e1e1e;
    justify-content: center;
}

.footer_menu {
    display: flex;
}

.fm1,
.fm2,
.fm3 {
    display: flex;
    padding: 20px;
    flex: 1;
    color: #fff;
}

.fm1 {
    background-color: #39aae1;
}

.fm2 {
    background-color: #0079c7;
}

.fm3 {
    background-color: #2b4c99;
}

.footer_area {
    display: flex;
    padding-bottom: 30px;
}

.footer_area_item {
    flex: 1;
}

footer .widget,
footer .widget_title_text {
    color: #FFF;
}

.footer_copy {
    color: #FFF;
    border-top: 1px solid #5c5c5c;
    height: 40px;
    line-height: 40px;
}

.menuMobile{
    display: none;
    height: 40px;
    width: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line{
  height: 3px;
  width: auto;
  background-color: #36a9e1;
}

@media (max-width:590px) {

    .banner_headline h1,
    h2 {
        padding-left: 20px;
        text-shadow: 2px 2px 2px #555;
        font-size: 40px;
    }   
    .banner_headline{
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .banner_options {
        flex-direction: column;
        height: auto;
    }

    .container {
        flex-direction: column;
    }

    #geral section {
        margin-top: 110px
    }

    #geral section {
        padding-left: 20px;
    }

    #geral aside {
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding-left: 20px;
    }

    header .container{
        flex-direction: row;
    }

    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
    }

    header{
        height: auto;
        min-height: 40px;
    }

    .logo {
        padding-left: 20px ;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}